# Ignore Python virtual environment
venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore data and models (can be added to Git LFS later if needed)
data/*
models/*

#But allow only this folder as empty with .gitkeep

!data/.gitkeep
!models/.gitkeep

# Ignore environment files
.env

# Ignore system files
.DS_Store
Thumbs.db
